services:
  backend:
    build: ./backend
    depends_on:
      database:      
        condition: service_healthy
    env_file:
      - ./backend/.env.docker
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"

  database:
    image: postgres:15
    env_file:
      - ./db/.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      retries: 5
    volumes:
      - ./db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
volumes:
  data:
